@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}
.animate-float {
  animation: float 3s ease-in-out infinite;
}
html {
  scroll-behavior: smooth;
}

@keyframes vibrate {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-2deg); }
  100% { transform: rotate(0deg); }
}
.animate-vibrate {
  animation: vibrate 0.3s linear;
}
